<div class="tabela-biblica">
    <div class="grid-unico">
        <div class="card" style="grid-column: 1">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[0].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[0].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[0].sigla}}</div>
            <div class="livro">{{cards[0].livro}}</div>
        </div>
        
        <div class="card" style="grid-column: 2">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[1].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[1].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[1].sigla}}</div>
            <div class="livro">{{cards[1].livro}}</div>
        </div>
        <div class="card" style="grid-column: 3">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[2].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[2].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[2].sigla}}</div>
            <div class="livro">{{cards[2].livro}}</div>
        </div>
        <div class="card" style="grid-column: 4">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[4].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[4].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[4].sigla}}</div>
            <div class="livro">{{cards[4].livro}}</div>
        </div>
        <div class="card" style="grid-column: 5">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[5].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[5].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[5].sigla}}</div>
            <div class="livro">{{cards[5].livro}}</div>
        </div>

        <!-- Exemplo de um card na posição certa da 2ª linha com 7 cards -->
        <div class="card" style="grid-row: 2; grid-column: 1;">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[6].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[6].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[6].sigla}}</div>
            <div class="livro">{{cards[6].livro}}</div>
        </div>
        <div class="card" style="grid-row: 2; grid-column: 2;">
            <div class="cabecalho">
                <span class="capitulo-label">Cap.</span>
                <span class="capitulo-num">{{cards[7].capitulo}}</span>
            </div>
            <div class="versiculo">
                <span class="versiculo-label">Vers.</span>
                <span class="versiculo-num">{{cards[7].versiculo}}</span>
            </div>
            <div class="sigla">{{cards[7].sigla}}</div>
            <div class="livro">{{cards[7].livro}}</div>
        </div>
        <div class="card" style="grid-row: 2; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 2; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 2; grid-column: 5;">Am</div>
        <div class="card" style="grid-row: 2; grid-column: 6;">Ob</div>
        <div class="card" style="grid-row: 2; grid-column: 7;">Jn</div>
    
        <!-- Exemplo de um card na posição certa da 3ª linha com 5 cards -->
        <div class="card" style="grid-row: 3; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 3; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 3; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 3; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 3; grid-column: 5;">Am</div>
    
        <!-- Exemplo de um card na posição certa da 4ª linha com 5 cards -->
        <div class="card" style="grid-row: 4; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 4; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 4; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 4; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 4; grid-column: 5;">Am</div>
    
        <!-- Exemplo de um card na posição certa da 5ª linha com 5 cards cor verde-->
        <div class="card" style="grid-row: 5; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 5; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 5; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 5; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 5; grid-column: 5;">Am</div>
        
        <!-- Exemplo de um card na posição certa da 6ª linha com 7 cards cor verde-->
        <div class="card" style="grid-row: 6; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 6; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 6; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 6; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 6; grid-column: 5;">Am</div>
        <div class="card" style="grid-row: 6; grid-column: 6;">Ob</div>
        <div class="card" style="grid-row: 6; grid-column: 7;">Jn</div>

        <!-- Exemplo de um card na posição certa da 7ª linha com 5 cards cor verde-->
        <div class="card" style="grid-row: 7; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 7; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 7; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 7; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 7; grid-column: 5;">Am</div>

    </div>

    <div class="grid-unico"> <!-- Cards da direita -->
        <!-- Cards da esquerda e direita -->
        <div class="card" style="grid-column: 1">Gn</div>
        <div class="card" style="grid-column: 2">Ex</div>
        <div class="card" style="grid-column: 3">Lv</div>
        <div class="card" style="grid-column: 4">Nm</div>
        
        <!-- Exemplo de um card na posição certa da 2ª linha com 7 cards -->
        <div class="card" style="grid-row: 2; grid-column: 4;">Jl</div>
    
        <!-- Exemplo de um card na posição certa da 3ª linha com 6 cards -->
        <div class="card" style="grid-row: 3; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 3; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 3; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 3; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 3; grid-column: 5;">Am</div>
        <div class="card" style="grid-row: 3; grid-column: 6;">Ob</div>

    
        <!-- Exemplo de um card na posição certa da 4ª linha com 7 cards -->
        <div class="card" style="grid-row: 4; grid-column: 1;">Lv</div>
        <div class="card" style="grid-row: 4; grid-column: 2;">Nm</div>
        <div class="card" style="grid-row: 4; grid-column: 3;">Ot</div>
        <div class="card" style="grid-row: 4; grid-column: 4;">Jl</div>
        <div class="card" style="grid-row: 4; grid-column: 5;">Am</div>
        <div class="card" style="grid-row: 4; grid-column: 6;">Ob</div>
        <div class="card" style="grid-row: 4; grid-column: 7;">Jn</div>

    
        <!-- Exemplo de um card na posição certa da 5ª linha com 5 cards cor verde-->
        <div class="card" style="grid-row: 5; grid-column: 7;">Am</div>
        
        <!-- Exemplo de um card na posição certa da 6ª linha com 7 cards cor verde-->
        <div class="card" style="grid-row: 6; grid-column: 7;">Jn</div>

    </div>
</div>
      
